$black: #151515;
$dark-gray: #676767;
$gray: #cecece;
$light-gray: #e2e2e2;
$semi-white: #f3f3f3;
$white: #ffffff;

$google: #e94134;
$kakao: #ffe711;

$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

$header-height: 50px;
$unfolded-sidebar: 200px;
$folded-sidebar: 70px;

$theme-light: (
  name: "theme-light",
  "background": #f8f8f8,
  "content-bg": #fff,
  "font": #151515,
  "color1": #676767,
  "color2": #cecece,
  "color3": #e2e2e2,
  "error": #ed4337,
  "emphasize1": #3050fd,
  "emphasize2": #fe965f,
);

$theme-dark: (
  name: "theme-dark",
  "background": #1c1f26,
  "content-bg": #24272e,
  "font": rgb(224, 223, 223),
  "color1": #e2e2e2,
  "color2": #525151,
  "color3": #3f3f3f,
  "error": #ed4337,
  "emphasize1": #3050fd,
  "emphasize2": #fe965f,
);

$themes: $theme-light, $theme-dark;
